cxl-jw-player {
  &[wide] {
    .jw-nextup-cta-mobile {
      display: none;
    }
  }

  &:not([wide]) {
    .jw-nextup-cta {
      display: none;
    }
  }

  .jw-nextup-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .jw-nextup-cta {
      max-width: 400px;
      width: 64%;

      a {
        pointer-events: all;

        vaadin-button {
          width: 100%;
        }
      }
    }
  }
}
