.container {
  display: grid;
  gap: 1rem;
  width: 336px;
}

.image {
  border-radius: 4px;
  box-shadow: 0 8px 10px #00000024, 0 3px 14px #0000001f, 0 4px 5px #0003;
  width: 320px;
  height: 180px;
}

.no-wrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.transform {
  overflow: hidden;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.transform:hover {
  transform: scale(1.05);
}

lit-virtualizer {
  height: 320px;
  padding: 1rem;
}
