/**
 * Layout commons.
 */
@use "~@conversionxl/cxl-lumo-styles/scss/mixins";
@use "~@conversionxl/cxl-lumo-styles/scss/mq";

$toggle-icon: "lumo:angle-right";

/**
 * Global defaults.
 */
:host {
  display: block;

  aside,
  main {
    > slot {
      display: block;
    }
  }
}

:host([layout^="1c"]:not([layout="1c"])),
:host([layout^="2c"]) {
  main {
    > slot:not([name]) {
      /**
      * Force container height.
      *
      * border-box is used to avoid overflow caused by padding.
      * 60px is action bar height
      */
      box-sizing: border-box;
      min-height: calc(100% - 60px);

      /**
       * Wrap layout, space edges.
       */
      @include mixins.wrap();

      /**
       * Avoid hugging header and footer.
       * Padding vs overflow: padding inner container (`<slot>`) currently works best.
       *
       * @see https://bugzilla.mozilla.org/show_bug.cgi?id=748518#c55
       */
      padding-top: var(--cxl-wrap-padding);
      padding-bottom: var(--cxl-wrap-padding);
    }

    > [name="action-bar"] {
      position: sticky;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      background-color: var(--lumo-base-color);

      &::slotted(*) {
        @include mixins.wrap();

        padding-top: var(--lumo-space-s);
        padding-bottom: var(--lumo-space-s);
      }
    }
  }
}

/**
 * Sticky footer.
 */
:host([wide]) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  #main {
    flex-grow: 1; // Short content.
  }
}

/**
 * Action bar.
 */
slot[name="action-bar"]::slotted(div) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: var(--lumo-box-shadow-m);
}

/**
 * Dashboard layout
 */
:host([layout^="1c"][theme~="cxl-dashboard"]:not([layout="1c"])) {
  main {
    min-height: calc(100vh - 200px);
    overflow-x: hidden;

    > slot {
      padding-top: 0;
      padding-bottom: 0;
      margin: 0 calc(-1 * var(--lumo-space-m));

      @media #{mq.$medium} {
        margin: 0 auto;
      }
    }

    // make article take full height of viewport even with little content
    ::slotted(article:only-of-type) {
      min-height: calc(100vh - 200px);
    }
  }
}

/**
 * Certificate layout
 */
:host([layout^="1c"][theme~="cxl-certificate"]:not([layout="1c"])) {
  overflow: hidden;

  main {
    > slot {
      padding: 0;
    }
  }
}
