@use "../mixins";
@use "../mq";

::slotted(vaadin-tab) {
  align-items: stretch; // Equal height elements.
  color: inherit;
  text-align: inherit;
}

// Increase scroll buttons visibility.
[part="back-button"],
[part="forward-button"] {
  top: unset;
  height: 1.5em; // Upstream width.
  font-size: var(--lumo-icon-size-l);
  background-color: var(--lumo-tint);
  box-shadow: var(--lumo-box-shadow-s);
  transition: box-shadow 0.3s;

  &:hover {
    color: var(--lumo-primary-color);
    cursor: pointer;
    box-shadow: var(--lumo-box-shadow-m);
    transition: box-shadow 0.3s;
    transform: scale(1.05);
  }
}

:host([orientation="horizontal"]) [part="tabs"] {
  @include mixins.better-webkit-scrollbars();

  // Fading content doesn't work well on slider.
  --_lumo-tabs-overflow-mask-image: unset !important; /* stylelint-disable-line declaration-no-important */

  // Show horizontal scrollbar.
  &::-webkit-scrollbar {
    display: initial;
  }
}

// Featured course slider and course-slider themes should always snap scroll
// between cards. can also be set with new attribute "snap-scroll"
:host([theme~="cxl-featured-course-slider"]),
:host([theme~="cxl-course-slider"]),
:host([snap-scroll]) {
  [part="tabs"] {
    padding: 0;
    margin: 0;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;

    ::slotted(*) {
      scroll-snap-align: start;
      scroll-snap-stop: always;
      /* stylelint-disable-next-line declaration-no-important */
      pointer-events: all !important;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

/**
 * Theme "featured-course-slider"
 */

:host([theme~="cxl-featured-course-slider"][orientation="horizontal"]) {
  position: relative;
  display: none;
  background-color: var(--cxl-brand-color-light-blue);
  border-radius: var(--lumo-size-xl);
  margin-block: calc(2 * var(--lumo-space-xl) + var(--lumo-space-l));

  @media #{mq.$large} {
    display: flex;
  }

  [part="back-button"],
  [part="forward-button"] {
    top: calc(50% - 2 * var(--lumo-space-xl));
    display: none;
    width: var(--lumo-size-s);
    height: var(--lumo-size-s);
    color: var(--cxl-brand-color-blue);
    background-color: #1f7a9933;
    border: 1px solid transparent;
    border-radius: 100%;
    box-shadow: unset;

    &:hover {
      border-color: var(--cxl-brand-color-blue);
    }

    &::after {
      font-size: var(--lumo-font-size-xl);
    }

    @media #{mq.$medium} {
      top: unset;
      display: flex;
      width: var(--lumo-space-xl);
      height: var(--lumo-space-xl);

      &::after {
        font-size: var(--lumo-font-size-xxl);
      }
    }
  }

  [part="back-button"] {
    margin-left: var(--lumo-space-l);
  }

  [part="forward-button"] {
    margin-right: var(--lumo-space-l);
  }
}

/**
 * Theme "cxl-course-slider"
 */

:host([theme~="cxl-course-slider"][theme~="minimal"]) {
  margin-top: calc(var(--lumo-space-s) * -1);

  ::slotted(vaadin-tab) {
    width: 267px;
    padding: 0;
    overflow: visible;
    scroll-margin-inline-start: var(--lumo-space-xl);
  }

  ::slotted(vaadin-tab:first-of-type) {
    margin-inline-start: calc(var(--lumo-space-xs) * -1);

    @media #{mq.$small} {
      margin-inline-start: calc(var(--lumo-space-m) - var(--lumo-space-xs));
      scroll-margin-inline-start: var(--lumo-space-l);
    }
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 68px;
    content: "";
    background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0%;
  }

  [part="tabs"] {
    padding: var(--lumo-space-s);
    overflow-y: hidden;
    gap: var(--lumo-space-s);
  }

  [part="back-button"],
  [part="forward-button"] {
    width: var(--lumo-size-m);
    height: var(--lumo-size-m);
    color: var(--lumo-primary-color);
    border-radius: 100%;

    @media #{mq.$small} {
      width: var(--lumo-space-xl);
      height: var(--lumo-space-xl);
    }

    &::after {
      font-size: var(--lumo-font-size-xl);

      @media #{mq.$small} {
        font-size: var(--lumo-font-size-xxl);
      }
    }
  }

  [part="back-button"] {
    left: calc(-1 * var(--lumo-space-m));
    margin-left: var(--lumo-space-s);

    @media #{mq.$small} {
      left: calc(-1 * var(--lumo-space-l));
    }
  }

  [part="forward-button"] {
    right: calc(-1 * var(--lumo-space-m));
    margin-right: var(--lumo-space-s);

    @media #{mq.$small} {
      right: calc(-1 * var(--lumo-space-l));
    }
  }
}

:host([theme~="cxl-course-slider"][overflow~="start"]) {
  &::before {
    left: 0;
    z-index: 1;
    rotate: 180deg;
    opacity: 100%;
  }
}

:host([theme~="cxl-course-slider"][overflow~="end"]) {
  &::after {
    right: 0;
    opacity: 100%;
  }
}

/**
 * Theme "cxl-course-slider" and "cxl-category-accordion"
 */

:host([theme~="cxl-course-slider"][theme~="minimal"][theme~="cxl-category-accordion"]) {
  margin-left: calc(-1 * var(--lumo-space-m));

  @media #{mq.$small} {
    margin-left: calc(-1 * var(--lumo-space-l));
  }
}

/**
 * Theme "cxl-course-slider" and "cxl-slider-dashboard-header"
 */

:host([theme~="cxl-course-slider"][theme~="cxl-slider-dashboard-header"]),
:host([theme~="cxl-course-slider"][theme~="minimal"][theme~="cxl-category-accordion"]) {
  margin-inline: 0;

  @media #{mq.$small} {
    margin-inline: calc(-1 * var(--lumo-space-l));
  }
}

:host([theme~="cxl-course-slider"][theme~="cxl-slider-dashboard-header"]) {
  ::slotted(vaadin-tab) {
    width: auto;
    max-width: 300px;
  }
}

/**
 * Theme "cxl-course-slider" and "cxl-category-slider"
 */

:host([theme~="cxl-course-slider"][theme~="cxl-category-slider"]) {
  margin-left: calc(-1 * var(--lumo-space-m));

  @media #{mq.$small} {
    margin-left: calc(-1 * var(--lumo-space-l));
  }
}

:host([theme~="cxl-course-slider"][theme~="cxl-category-slider"][theme~="unfinished"]) {
  &::before,
  &::after {
    background: linear-gradient(
      270deg,
      var(--cxl-color-medium-gray) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
