@use "../mixins";
@use "../mq";

// Collapse margins.
:host([orientation="vertical"][theme~="cxl-marketing-nav"]) {
  display: flex;
  flex-direction: column;
}

/**
 * Wrap.
 */
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) {
  justify-content: center;
}

// Override `justify-content: center`.
// @todo upstream `forward-button` has `right: 0`, but nothing for this. Bug?
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) [part="back-button"] {
  left: 0;
}

:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) [part="tabs"] {
  @include mixins.wrap();
}

/**
 * Unify orientations side margins and padding
 */
$vaadin-tab-horizontal-padding: 0.75rem;

// Reduce spacing between tabs. Vertical is noop, upstream padding already matches our wrap.
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) ::slotted(.menu-item) {
  padding-right: $vaadin-tab-horizontal-padding;
  padding-left: $vaadin-tab-horizontal-padding;
}

// Match container wrap.
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) ::slotted(.menu-item:first-child) {
  padding-left: 0;
}
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) ::slotted(.menu-item:last-child) {
  padding-right: 0;
}

/**
 * User configurable menu item display for [non-]wide states.
 */
/* stylelint-disable-next-line selector-class-pattern */
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) ::slotted(.menu-item-not-wide) {
  display: none;
}

/* stylelint-disable-next-line selector-class-pattern */
:host([orientation="vertical"][theme~="cxl-marketing-nav"]) ::slotted(.menu-item-wide) {
  display: none;
}

// Split navigation pattern.
:host([orientation="horizontal"][theme~="cxl-marketing-nav"]) ::slotted(.menu-item-split-nav) {
  margin-left: auto;
}

// Search menu item.
:host([theme~="cxl-marketing-nav"]#menu-shadow-items) ::slotted(.menu-item-search) {
  margin-right: auto;
  margin-left: auto;
}

// Featured course slider
:host([theme~="cxl-featured-course-slider"][orientation="horizontal"]) {
  background-color: var(--cxl-color-light-gray);

  [part="tabs"] {
    padding: 0;
    margin: 0;
    overflow-x: auto;
    pointer-events: none;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  [part="back-button"],
  [part="forward-button"] {
    width: var(--lumo-size-s);
    height: var(--lumo-size-s);
    color: var(--lumo-primary-color);
    border-radius: 100%;

    &::after {
      font-size: var(--lumo-font-size-xl);
    }

    @media #{mq.$medium} {
      width: var(--lumo-space-xl);
      height: var(--lumo-space-xl);

      &::after {
        font-size: var(--lumo-font-size-xxl);
      }
    }
  }

  @media #{mq.$medium} {
    [part="back-button"] {
      margin-left: var(--lumo-space-s);
    }

    [part="forward-button"] {
      margin-right: var(--lumo-space-s);
    }
  }

  ::slotted(vaadin-tab) {
    padding: 0 var(--lumo-space-m);

    @media #{mq.$medium} {
      padding: 0;
    }
  }

  ::slotted(vaadin-tab:not(:first-child)) {
    @media #{mq.$medium} {
      padding-left: var(--lumo-size-xl);
    }
  }
}

// Dashboard notifications
:host([theme~="cxl-dashboard-notification"]) [part="tabs"] {
  margin: 0;
}
