:host([theme~="cxl-marketing-nav"]) {
  
  [part="container"] {

    .menu-item-split-nav {
      /* stylelint-disable-next-line declaration-no-important */
      margin-left: auto !important;
    }

    [part="overflow-button"] {

      vaadin-icon {
        &.vaadin-menu-bar-button--icon {
          display: none;
        }
      }

      @media (max-width: 568px) {
        display: block;
        
        ::before {
          content: none;
        }

        vaadin-icon {
          height: var(--lumo-icon-size-s);

          &.vaadin-menu-bar-button--icon {
            display: block;

            &.close-icon {
              display: none;
            } 
          }
    
          svg {
            fill: var(--lumo-shade);
          }
        }
    
        &[expanded] {
          vaadin-icon.close-icon {
            display: block;
          } 
    
          vaadin-icon.menu-icon {
            display: none;
          }
        }
      }
    }
  }
}
