@use "../mq";

/**
 * Modify toggle visibility.
 */
[part="toggle"] {
  /**
   * Align nested cross-theme accordions panel toggles, usually for non-wide screens.
   *
   * @see `vaadin-accordion-panel[theme=vaadin].story.js`
   */
  padding: var(--lumo-space-xs);

  :host(:not([theme~="vaadin"])) & {
    background-color: var(--lumo-shade-10pct);
    border-radius: 50%;
  }

  :host(:not([theme~="vaadin"])[opened]) & {
    color: var(--lumo-primary-color);
    background-color: var(--lumo-primary-color-10pct);
  }

  :host([disabled]) & {
    display: none;
  }
}

// @see https://github.com/vaadin/vaadin-details/blob/v1.0.1/theme/lumo/vaadin-details-styles.html#L57
@media (hover: hover) {
  :host(:not([disabled])) {
    [part="summary"]:hover {
      [part="toggle"] {
        color: var(--lumo-primary-color);
      }
    }
  }

  :host([theme~="cxl-dashboard-header"]) {
    [part="summary"]:hover {
      color: var(--lumo-shade);

      [part="toggle"] {
        background-color: var(--lumo-shade);
        color: var(--lumo-primary-contrast-color);
      }
    }
  }
}

// Dashboard notification component
:host([theme~="cxl-dashboard-notification"]) {
  margin: 0;

  [part="toggle"] {
    display: none;
  }

  [part="content"] {
    padding: 0;
  }

  [part="summary"] {
    display: block;
    padding: 0;
  }
}

// Dashboard header
:host([theme~="cxl-dashboard-header"]) {
  position: relative;
  margin: var(--lumo-space-s) 0 0;
  border-radius: var(--lumo-border-radius-s);
  background-color: var(--lumo-primary-contrast-color);

  [part="summary"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--lumo-space-m);
    line-height: 1.3;
    color: var(--lumo-primary-text-color);
  }

  [part="toggle"] {
    flex-shrink: 0;
    margin-left: var(--lumo-space-s);
    font-size: var(--lumo-font-size-m);
    color: var(--lumo-primary-contrast-color);
    background-color: var(--lumo-primary-color);
    border-radius: 100%;
  }

  [part="content"] {
    padding: 0;
  }
}

:host([theme~="cxl-dashboard-header"][opened]) {
  [part="toggle"] {
    background-color: var(--lumo-tint-5pct);
  }
}
