@use "../mq";

:host([theme~="cxl-marketing-nav"]) {
  /* stylelint-disable-next-line selector-no-qualifying-type */
  ::slotted(h6) {
    margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */
  }
}

:host([theme~="cxl-marketing-nav"].section-header) {
  font-weight: 600;
  color: var(--lumo-body-text-color);
  text-transform: uppercase;

  ::slotted(.vaadin-context-menu-item--description) {
    text-transform: none;
  }
}

:host([theme~="cxl-marketing-nav"].has-description) {
  [part="content"] ::slotted(.vaadin-context-menu-item--description) {
    font-weight: 400;
  }
}

:host([theme~="cxl-marketing-nav"]:not(.section-header):hover),
:host([theme~="cxl-marketing-nav"]:not(.section-header)[expanded]) {
  color: var(--lumo-primary-color);

  &::after {
    color: var(--lumo-primary-color);
  }
}

@media (min-width: 768px) and (min-height: 768px) {
  :host([theme~="cxl-marketing-nav"].vaadin-menu-item.back-button-menu-item) {
    display: none;
  }
}

::slotted(a) {
  // Increase link click surface.
  display: block;

  color: inherit !important; /* stylelint-disable-line declaration-no-important */
  text-decoration: none !important; /* stylelint-disable-line declaration-no-important */
}

::slotted(a:hover) {
  color: var(--lumo-primary-color) !important; /* stylelint-disable-line declaration-no-important */
}

:host {
  ::slotted(.vaadin-context-menu-item--description) {
    margin-top: var(--lumo-space-s);
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-s);
    font-weight: 400;
    color: var(--lumo-secondary-text-color);
  }

  ::slotted(.vaadin-context-menu-item--label) {
    margin-top: 0 !important; /* stylelint-disable-line declaration-no-important */
  }

  @media (max-width: 768px), (max-height: 768px) {
    ::slotted(.vaadin-context-menu-item--icon) {
      visibility: visible;
    }
  }
}

:host(.vaadin-context-menu-parent-item) {
  ::slotted(.vaadin-context-menu-item--icon) {
    visibility: hidden;
  }
}
