@use "../mq";

// Theme: cxl-course-dialog
:host([theme="cxl-course-dialog"]) {
  [part="backdrop"] {
    background-color: var(--cxl-color-black-50pct);
  }

  [part="overlay"] {
    width: 100%;
    max-width: var(--cxl-content-max-width);
  }

  [part="content"] {
    padding: var(--lumo-space-m) var(--lumo-space-m) 0 var(--lumo-space-m);

    @media #{mq.$small} {
      padding: var(--lumo-space-l) var(--lumo-space-l) 0 var(--lumo-space-l);
    }
  }

  [part="footer"] {
    background-color: unset;
    box-shadow: var(--lumo-box-shadow-m);

    @media #{mq.$small} {
      gap: var(--lumo-space-m);
      padding-right: var(--lumo-space-l);
    }
  }
}

:host([theme~="cxl-marketing-nav"]) {
  &::part(overlay),
  &::part(content) {
    height: calc(100vh - 40px);
    max-height: calc(100vh - 40px);
  }

  &::part(backdrop) {
    display: none;
  }

  @media (min-width: 568px) and (min-height: 568px) {
    &::part(overlay),
    &::part(content) {
      height: initial;
      max-height: initial;
    }
  }

  &::part(overlay) {
    box-shadow: 0 0 0 1px var(--lumo-shade-5pct), 0 2px 6px -1px var(--lumo-shade-5pct),
      0 8px 24px -4px var(--lumo-shade-5pct);
  }
}
