:host([slot^="middle"]),
[part="overlay"] {
  max-width: var(--cxl-content-max-width);
}

:host([theme~="max-w-full"]) [part="overlay"] {
  max-width: 100%;
}

:host([theme~="justify-center"]) [part="content"] {
  justify-content: center;
}
