@mixin entry-title-with-progress-icons {
  display: flex;
  align-items: flex-start;

  [icon] {
    --vaadin-icon-width: var(--lumo-icon-size-s);
    --vaadin-icon-height: var(--vaadin-icon-width);

    flex-shrink: 0;
    margin-right: var(--lumo-space-s);
  }

  [icon="lumo:angle-right"] {
    color: var(--lumo-contrast-20pct);
  }

  [icon="vaadin:check-circle"] {
    color: var(--lumo-success-color);
  }

  [icon="vaadin:play-circle"] {
    color: var(--lumo-contrast-80pct);
  }
}

@mixin label-contrast($selector: "") {
  #{$selector} > label {
    font-weight: 300;
    color: var(--lumo-contrast-50pct);

    @content;
  }

  &[theme~="dark"] #{$selector} > label {
    color: var(--lumo-contrast-90pct);
  }
}

// https://caniuse.com/?search=line-clamp - way around line-clamp needed
@mixin ellipsis-for-lines($max-lines: 3) {
  /* stylelint-disable */
  display: -moz-box;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: $max-lines;
  -webkit-box-orient: vertical;
  -moz-line-clamp: $max-lines;
  -moz-box-orient: vertical;
  /* stylelint-enable */
}
