:host {
  display: flex;

  // Stretch children horizontally.
  flex-direction: column;
}

:host([hidden]) {
  display: none;
}

/**
 * @see https://www.smashingmagazine.com/2019/08/bottom-navigation-pattern-mobile-web-pages/
:host(:not([wide])) {
  bottom: 0;
  position: fixed;
}
*/

/**
 * Menu bar containers configuration.
 */
#menu-shadow-items {
  box-shadow: var(--lumo-box-shadow-xs);

  :host([wide]) & {
    display: none;
  }

  .menu-item-menu-toggle {
    &[selected] vaadin-icon:first-child,
    &:not([selected]) vaadin-icon + vaadin-icon {
      display: none;
    }
  }
}

// Dark on light.
#menu-shadow-items,
::slotted(#menu-global-items) {
  background-color: var(--lumo-base-color);

  :host([wide]) & {
    height: 44px;
    background-color: var(--lumo-shade);
  }
}

// Light on dark.
::slotted(#menu-primary-items) {
  --lumo-tertiary-text-color: var(--lumo-base-color);
  background-color: var(--lumo-base-color);
}

/**
 * Shadow menu toggle logic.
 *
 * @todo Magic "selected" number is fragile, depends on menu item count.
 *       But might survive living in controlled shadow.
 */
$menu-item-menu-toggle-index: 2;

:host(:not([wide]))
  #menu-shadow-items:not([selected="#{$menu-item-menu-toggle-index}"])
  + nav
  > ::slotted(.menu-items) {
  display: none;
}

/**
 * headroom.js
 */
:host(.headroom) {
  position: static;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2; // @see `cxl-app-layout[layout=2c-l]`.
}

:host(.headroom--not-top) {
  position: fixed;
}

:host(.headroom--not-top[wide]) ::slotted(#menu-global-items) {
  display: none;
}
