@use "~@conversionxl/cxl-lumo-styles/scss/mq";
@use "~@conversionxl/cxl-lumo-styles/scss/mixins";

:host {
  position: relative;
  background-color: var(--cxl-color-medium-gray);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
    width: 100vw;
    background-color: var(--cxl-color-medium-gray);
    transform: translateX(-50%);
  }

  .container {
    position: relative;
    padding: 0 var(--lumo-space-m) var(--lumo-space-l);
    z-index: 1;

    @media #{mq.$medium} {
      padding: calc(var(--lumo-space-m) * 2) var(--lumo-space-l);
    }
  }

  .updates {
    position: relative;

    @media #{mq.$medium} {
      position: absolute;
      right: var(--lumo-space-l);
      bottom: calc(100% + var(--lumo-space-m));
    }
  }

  header {
    margin-bottom: var(--lumo-space-s);

    @media #{mq.$medium} {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    .titles {
      flex-shrink: 0;
      padding-top: var(--lumo-size-s);

      @media #{mq.$medium} {
        padding-top: 0;
      }
    }

    .subtitle {
      font-size: var(--lumo-font-size-xs);
      line-height: 1;
      text-transform: uppercase;
      color: var(--cxl-color-black-50pct);
    }

    .title {
      margin: 0;
    }

    h1.title {
      padding-right: var(--lumo-space-m);
      font-size: var(--lumo-font-size-xxxl);
      font-weight: 900;
      line-height: 1.4;
    }
  }

  .edit-roadmap {
    display: flex;
    align-items: center;
    max-width: fit-content;
    height: fit-content;
    padding: 0 var(--lumo-space-s);
    margin: 0 auto 0 var(--lumo-space-m);
    color: var(--lumo-primary-color);
    cursor: pointer;
    background-color: var(--lumo-primary-contrast-color);
    border-radius: var(--lumo-border-radius-s);

    &::part(label) {
      line-height: 1.5;
    }
  }

  .roadmap {
    color: var(--lumo-primary-contrast-color);
    background-color: var(--lumo-primary-color);

    @media #{mq.$large} {
      color: var(--lumo-primary-contrast-color);
    }

    vaadin-icon {
      color: var(--lumo-primary-contrast-color);
    }
  }

  .slider {
    margin-top: var(--lumo-space-l);
  }

  .slider-title {
    display: block;
    margin-bottom: var(--lumo-space-s);
    font-size: var(--lumo-font-size-xs);
    line-height: 1;
    text-transform: uppercase;
    color: var(--cxl-color-black-50pct);
  }

  .content {
    margin-top: var(--lumo-space-l);

    & + .content {
      padding-top: var(--lumo-space-l);
      border-top: 1px solid #d2d5da;
    }
  }
}
