@use "~@conversionxl/cxl-lumo-styles/scss/mq";
@use "~@conversionxl/cxl-lumo-styles/scss/mixins";

:host {
  position: relative;
  background-color: var(--cxl-color-athens-gray);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: 0;
    width: 100vw;
    background-color: var(--cxl-color-athens-gray);
    transform: translateX(-50%);
  }

  .container {
    position: relative;
    padding: 0 var(--lumo-space-m) var(--lumo-space-l);
    z-index: 1;

    @media #{mq.$medium} {
      padding: calc(var(--lumo-space-m) * 2) var(--lumo-space-l);
    }
  }

  header {
    @media #{mq.$medium} {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .updates {
      position: relative;

      @media #{mq.$medium} {
        position: absolute;
        right: 0;
        bottom: calc(100% + var(--lumo-space-m));
      }
    }

    .titles {
      flex-shrink: 0;
      padding-top: var(--lumo-size-s);

      @media #{mq.$medium} {
        padding-top: 0;
      }
    }

    .subtitle {
      font-size: var(--lumo-font-size-xs);
      line-height: 1;
      text-transform: uppercase;
      color: var(--cxl-color-black-50pct);
    }

    .title {
      margin: 0;
      padding-right: var(--lumo-space-m);
      font-size: var(--lumo-font-size-xxxl);
      font-weight: 900;
      line-height: 1.4;
    }
  }

  .slider {
    margin-top: var(--lumo-space-l);
  }

  .slider-title {
    display: block;
    margin-bottom: var(--lumo-space-s);
    font-size: var(--lumo-font-size-xs);
    line-height: 1;
    text-transform: uppercase;
    color: var(--cxl-color-black-50pct);
  }
}
