@use "~@conversionxl/cxl-lumo-styles/scss/mixins";
@use "~@conversionxl/cxl-lumo-styles/scss/mq";

:host {
  display: block;
}

:host([theme~="cxl-section-dashboard-team-content"]) {
  @media #{mq.$large} {
    --cxl-wrap-padding: 0;
  }
}

/**
 * Avoid margin collapse with background.
 */
:host(.has-background) {
  display: flow-root;
}

/**
 * Content readability.
 */
.wrap {
  @include mixins.wrap();

  max-width: var(--cxl-content-max-width);

  /**
   * Spacious section spacing.
   */
  margin-top: var(--cxl-section-wrap-margin-top, var(--lumo-space-xl));
  margin-bottom: var(--cxl-section-wrap-margin-bottom, var(--lumo-space-xl));

  /**
   * Block editor integration.
   */
  :host(.alignfull) > & {
    max-width: unset;
  }

  :host(.alignwide) > & {
    max-width: var(--cxl-content-max-width-wide);
  }
}

:host(.has-gray-background-color) {
  background-color: var(--cxl-color-light-gray);
}

:host(.has-black-background-color) {
  color: var(--lumo-tint);
  background-color: #000;

  > * {
    --lumo-header-text-color: var(--lumo-tint);
  }
}
