:host {
  display: flex;
  margin: auto;
  text-align: start;
  color: initial;
}

.container {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1464px;
  height: 1120px;
  padding: var(--lumo-size-xl);
  overflow: hidden;
  font-family: var(--lumo-font-family);
  font-size: var(--lumo-font-size-m);
  font-weight: 500;
  color: var(--lumo-primary-contrast-color);
  text-transform: uppercase;
  background-color: var(--lumo-primary-color);

  &[invisible] {
    visibility: hidden;
  }

  * {
    z-index: 2;
  }

  #circles {
    position: absolute;
    top: 0;
    left: 520px;
    z-index: 1;
    width: 100%;
    height: 100%;

    svg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }

  #cxl-logo {
    width: 128px;
    height: 54px;
    // Logo svg uses variable internally, so it needs to be redefined to keep it showing white
    --lumo-primary-color: #fff;
  }

  .thin {
    font-size: 20px;
    font-weight: 200;
    text-transform: lowercase;
    letter-spacing: 2px;
  }

  #header {
    .description {
      font-size: 20px;
      font-weight: 900;
      line-height: 19px;
      color: #010101;
    }

    .title {
      font-family: var(--cxl-lumo-font-ternary);
      font-size: 102px;
      font-weight: 900;
      margin-block: var(--lumo-space-l) 0;
      line-height: 96px;
    }
  }

  #body {
    width: 982px;
    font-size: 45px;
    font-weight: 900;
    line-height: 40px;
    color: var(--lumo-contrast);

    .highlight {
      color: var(--lumo-primary-contrast-color);
    }

    .nowrap {
      white-space: nowrap;
    }
  }

  #footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 353px;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .signature {
        margin-top: calc(-1 * var(--lumo-size-xl));
        margin-left: calc(-1 * var(--lumo-size-s));
      }
    }

    .code {
      text-align: end;
    }
  }
}

:host([type="minidegree"]), :host([theme='dark']), :host([type="training"]) {
  .container {
    background-color: #000;
  }

  #header {
    .description {
      color: var(--lumo-primary-color);
    }

    .title {
      color: var(--lumo-contrast);
    }
  }

  #body {
    color: var(--lumo-contrast);

    .highlight {
      color: var(--lumo-primary-color);
    }
  }

  #footer {
    .left {
      .signature {
        filter: invert(1);
      }
    }
  }
}
