@use './mixins';
@use "~@conversionxl/cxl-lumo-styles/scss/typography";

:host {
  min-width: 267px; // 3col widths on 1400px
  max-width: 300px;
  height: 100%;
  min-height: calc(3 * var(--lumo-space-xl));
  padding: var(--lumo-space-m) var(--lumo-space-m) var(--lumo-space-s);
  overflow: hidden;

  .container {
    padding-right: 112px; // image width

    & > .attributes {
      display: none;
    }
  }

  header {
    height: 100%;

    .info {
      max-width: none;

      .name {
        @include mixins.ellipsis-for-lines(3);
        font-size: var(--lumo-font-size-m);
      }

      .attributes {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: auto;
        padding-top: var(--lumo-space-xs);
        padding-bottom: 0;
        gap: var(--lumo-space-xs);
        align-items: start;
      }

      cxl-time {
        margin-left: -3px; // to align with the instructor text
      }
    }

    .instructor-preposition {
      display: none;
    }

    .instructor-image {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 112px;
      height: auto;
      border-radius: 0;
      border-bottom-right-radius: var(--lumo-border-radius-l);
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: auto;
        margin-top: auto;
      }
    }
  }

  .progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--lumo-font-size-xs);
    line-height: var(--lumo-line-height-s);
    color: var(--lumo-body-text-color);
  }
}

.badge-new {
  display: none;
}

:host([new]) {
  .badge-new {
    position: absolute;
    right: var(--lumo-space-s);
    bottom: var(--lumo-space-s);
    display: block;
    padding: calc(var(--lumo-space-xs) / 2) var(--lumo-space-s);
    font-size: var(--lumo-font-size-s);
    font-weight: 700;
    line-height: var(--lumo-line-height-s);
    color: var(--lumo-primary-contrast-color);
    border-radius: calc(var(--lumo-border-radius-l) * 6);
    background: var(--lumo-primary-color);
    z-index: 2;
  }
}

:host([completed]) {
  opacity: 0.6;

  [icon="lumo:checkmark"] {
    display: inline-block;
    margin-top: calc(var(--lumo-space-xs) * -1);
    color: var(--lumo-primary-color);
  }
}

::slotted(footer) {
  display: flex;
  flex-wrap: wrap;
  gap: var(--lumo-space-xs);
}

:host([theme~="minidegree"]) {
  .name {
    color: var(--lumo-primary-contrast-color);
  }

  .attributes {
    color: var(--lumo-tint-40pct);
  }

  cxl-time {
    margin-left: -3px; // to align with the instructor text
    color: var(--lumo-tint-40pct);
  }

  .progress {
    color: var(--lumo-primary-contrast-color);
  }
}

:host([theme~="portrait"]) {
  display: block;
  width: 175px;
  min-width: 0;
  padding: 0;

  .container {
    display: block;
    height: 100%;
    padding: 0;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .info {
    padding: var(--lumo-space-s);

    .attributes {
      display: none;
    }
  }

  .progress {
    display: none;
  }

  .instructor-image {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 0;

    img {
      display: block;
      width: 100%;
      height: auto;
      margin-top: auto;
    }
  }
}

.icon-lock {
  position: absolute;
  top: var(--lumo-space-s);
  right: var(--lumo-space-s);
  z-index: 2;
  width: var(--lumo-icon-size-s);
  height: var(--lumo-icon-size-s);
}
