
:host {
  display: block;
  min-width: 240px;

  .content {
    display: flex;
    flex-direction: column;
  }
  vaadin-accordion-panel {
    font-size: var(--lumo-font-size-s);

    &::part(summary-content) {
      font-weight: 600;
      color: var(--lumo-contrast);
      font-size: var(--lumo-font-size-s);
    }

    &::part(toggle) {
      background-color: unset;
    }
  }
}
