@use "~@conversionxl/cxl-lumo-styles/scss/mq";
@use "~@conversionxl/cxl-ui/scss/mixins";

:host {
  display: none;
  max-width: unset;
  height: unset;
  max-height: 100vh;
  overflow: hidden;
  background-color: var(--cxl-color-light-gray);
  border: none;
  border-radius: 0;
  /* stylelint-disable declaration-no-important */
  box-shadow: none !important;

  @media #{mq.$small} {
    display: flex;
    height: 400px;
  }

  @media #{mq.$large} {
    padding-inline: 124px;
  }

  .container {
    justify-content: center;

    .content-wrapper {
      min-width: 250px;
      max-width: 600px;
      height: auto;

      @media #{mq.$small} {
        width: 50%;
      }
    }
  }

  header {
    flex-direction: column-reverse;

    @media #{mq.$small} {
      flex-direction: row;
    }

    .info {
      max-width: unset;

      @media #{mq.$small} {
        max-width: calc(100% - var(--lumo-space-m) - 80px);
      }
    }

    .name {
      @include mixins.ellipsis-for-lines(3);
    }

    .instructor-image {
      position: relative;
      width: auto;
      height: auto;
      border-radius: 0;

      img {
        width: 100%;
        height: auto;
        max-height: 100%;
      }

      @media #{mq.$small} {
        position: absolute;
        top: calc(-1 * var(--lumo-space-m));
        right: 0;
        width: auto;
        max-width: 45%;
        height: calc(100% + var(--lumo-space-m));
        overflow: visible;
        border-radius: unset;
      }

      @media #{mq.$medium} {
        right: var(--lumo-space-m);
      }

      @media #{mq.$large} {
        right: 124px;
      }

      .swoosh {
        position: absolute;
        top: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        max-height: 100%;
        margin-top: calc(var(--lumo-space-m) * -2);

        @media #{mq.$small} {
          top: 80%;
        }

        @media #{mq.$medium} {
          display: none;
        }
      }
    }
  }

  footer {
    justify-content: start;
  }
}
