:host {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--lumo-space-m);

  header {
    color: var(--lumo-shade-60pct);
    font-size: var(--lumo-font-size-s);
    font-weight: 300;
    text-transform: uppercase;
  }
}
