:host {
  display: flex;

  // Stretch children horizontally.
  flex-direction: column;
}

:host([hidden]) {
  display: none;
}

/**
 * @see https://www.smashingmagazine.com/2019/08/bottom-navigation-pattern-mobile-web-pages/
:host(:not([wide])) {
  bottom: 0;
  position: fixed;
}
*/

#overlays-wrapper {
  position: fixed;
  display: flex;
  border: 1px solid var(--lumo-base-color);
  // Use top and bottom border prevent panel divider from reaching full height.
  border-top-width: var(--lumo-space-m);
  border-bottom-width: var(--lumo-space-m);
  border-radius: 6px;
  // Second shadow set to emulate border
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.25), 0 0 1px 1px #D2D5DA;
  opacity: 1;
  transition: opacity 0.2s, left 0.1s;

  vaadin-context-menu-overlay {
    display: flex;
    opacity: 1; // show after being moved to the overlays-wrapper element
    transition: all 0.25s;

    &+ vaadin-context-menu-overlay {
      border-left: 1px solid var(--lumo-shade-20pct);
    }
  }

  &[hidden] {
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s;
  }
}

/**
 * Menu bar containers configuration.
 */
#menu-shadow-items {
  box-shadow: var(--lumo-box-shadow-xs);

  :host([wide]) & {
    display: none;
  }

  .menu-item-menu-toggle {
    &[selected] vaadin-icon:first-child,
    &:not([selected]) vaadin-icon + vaadin-icon {
      display: none;
    }
  }
}

// Dark on light.
#menu-shadow-items,
::slotted(#menu-global-items) {
  background-color: var(--lumo-base-color);

  :host([wide]) & {
    height: 32px;
    background-color: var(--lumo-shade);
  }
}

// Light on dark.
::slotted(#menu-primary-items) {
  --lumo-tertiary-text-color: var(--lumo-base-color);
  background-color: var(--lumo-base-color);
}

/**
 * Shadow menu toggle logic.
 *
 * @todo Magic "selected" number is fragile, depends on menu item count.
 *       But might survive living in controlled shadow.
 */
$menu-item-menu-toggle-index: 2;

:host(:not([wide]))
  #menu-shadow-items:not([selected="#{$menu-item-menu-toggle-index}"])
  + nav
  > ::slotted(.menu-items) {
  display: none;
}

.vaadin-context-menu-item--description {
  margin-top: var(--lumo-space-s);
  font-family: var(--lumo-font-family);
  font-size: var(--lumo-font-size-s);
  color: var(--lumo-secondary-text-color);
}

/**
 * headroom.js
 */
:host(.headroom) {
  position: static;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2; // @see `cxl-app-layout[layout=2c-l]`.
}

:host(.headroom--not-top) {
  position: fixed;
}

:host(.headroom--not-top[wide]) ::slotted(#menu-global-items) {
  display: none;
}
