@use "mixins";
@use "mq";

html {
  // Variables.
  --cxl-content-max-width: 48rem;
  --cxl-content-max-width-wide: calc(var(--cxl-content-max-width) * 2);
  --cxl-wrap-padding: var(--lumo-space-m);
  --cxl-hero-content-max-width: 650px;
  --cxl-hero-certificate-max-width: 480px;
  --cxl-space-sm: 12px;
  --cxl-color-light-gray: hsla(0, 0%, 96%, 1);
  --cxl-color-medium-gray: hsla(210, 20%, 96%, 1);
  --cxl-color-dark-gray: hsla(240, 1%, 24%, 1);
  --cxl-color-black: hsl(0, 0%, 0%);
  --cxl-color-black-50pct: hsla(0, 0%, 0%, 0.5);
  --cxl-color-brand-blue: hsla(214, 61%, 25%, 1);
  --cxl-color-light-pink: hsl(353, 73%, 96%, 1);
  --cxl-color-dark-green: hsl(148, 57%, 24%, 1);

  /**
   * Lumo Icons have a documented 4px "safe area" around them. Vaadin Icons don't, for unknown reasons.
   *
   * @see https://vaadin.com/docs/latest/components/icons
   */
  --cxl-vaadin-icon-safe-area: 4px;

  /**
   * Shadow.
   *
   * @see https://cdn.vaadin.com/vaadin-lumo-styles/1.5.0/demo/styles.html#shadow
   * @see https://sass-lang.com/documentation/style-rules/declarations#custom-properties
   */
  $cxl-box-shadow-width: var(--cxl-box-shadow-width, 1px);
  $cxl-box-shadow-color: var(--cxl-box-shadow-color, var(--lumo-shade-10pct));

  --cxl-box-shadow: #{$cxl-box-shadow-width} 0 0 0 #{$cxl-box-shadow-color},
    0 #{$cxl-box-shadow-width} 0 0 #{$cxl-box-shadow-color},
    #{$cxl-box-shadow-width} #{$cxl-box-shadow-width} 0 0 #{$cxl-box-shadow-color},
    #{$cxl-box-shadow-width} 0 0 0 #{$cxl-box-shadow-color} inset,
    0 #{$cxl-box-shadow-width} 0 0 #{$cxl-box-shadow-color} inset;

  // cxl-marketing-nav height on desktop
  --cxl-marketing-nav-height: 76px;
}

// @see https://github.com/conversionxl/aybolit/blob/490e58e71f13c2e8a398959f91b938f9309b41f8/packages/cxl-ui/src/components/cxl-marketing-nav.js#L46
@media (max-width: 749px) {
  html {
    --cxl-marketing-nav-height: 44px;
  }
}

// @see https://github.com/necolas/normalize.css/blob/8.0.1/normalize.css#L20
body {
  margin: 0;
}

/**
 * Add some top padding to the page content (body element) to prevent sudden quick movement.
 *
 * @see https://web.dev/optimize-cls/
 */
.cxl-marketing-nav-sticky {
  min-height: calc(100vh - var(--cxl-marketing-nav-height));
  padding-top: var(--cxl-marketing-nav-height);
}

/**
 * Mobile menu toggle, disables page scroll.
 *
 * @see https://app.clickup.com/t/3phu3bv
 * @since 2022.10.18
 */
.cxl-mobile-menu-opened {
  backface-visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow-y: scroll;
}

a {
  color: var(--lumo-primary-color);

  // Avoid visual overload.
  text-decoration: none;

  // Only when navigable.
  &[href]:hover {
    text-decoration: underline;
  }

  // Icon alignment.
  vaadin-icon + & {
    vertical-align: middle;
  }
}

a[target="_blank"]:any-link::after {
  padding-left: 0.25rem;
  font-family: vaadin-icons;
  content: var(--vaadin-icons-external-link);
}

code,
pre {
  overflow-x: scroll;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul {
  padding-left: var(--lumo-space-l);

  .entry-content & {
    font-family: var(--cxl-lumo-font-secondary);
  }
}

/**
 * headroom.js
 */
.headroom {
  top: var(--wp-admin--admin-bar--height, 0);
  transition: transform 200ms linear;

  &--pinned {
    transform: translateY(0%);
  }
}

/**
 * As WP Admin Bar is hidden at this breakpoint,
 * so no need to adjust top.
 *
 * @since 2022.10.14
 * @see https://github.com/conversionxl/wp-theme-lib/blob/74e2231e39ded2e65eddabfb70615b2696ca2510/scss/legacy/_15-mixins.scss#L81
 */
@media screen and (max-width: 782px) {
  .headroom {
    --wp-admin--admin-bar--height: 0;
  }
}

/**
 * Classes.
 */
// @see https://tailwindcss.com/docs/font-weight/
// @todo Integrate tailwindcss.
.font-light {
  font-weight: 300;
}

.thumbnail {
  --cxl-thumbnail-size: calc(var(--lumo-icon-size-l) * 3);
  width: var(--cxl-thumbnail-size);
  height: var(--cxl-thumbnail-size);
  border-radius: 50%;
}

.wrap {
  @include mixins.wrap();
}

// Center align the `<vaadin-icon>` wrapped in `<vaadin-button>`
vaadin-notification-card vaadin-button[theme~="icon"]:not([theme~="tertiary-inline"]) {
  flex: none;
}

/* stylelint-disable order/properties-order */
/* stylelint-disable-next-line selector-no-qualifying-type */
ol.ordered-list-heavy {
  $item-height: 96px;

  counter-reset: li;
  display: grid;
  gap: var(--lumo-space-m);
  list-style-type: none;
  padding: 0;

  li {
    border: 1px solid var(--lumo-shade-20pct);
    border-radius: 9999px /* This is needed to create the pill shape */;
    height: $item-height;
    position: relative;

    &::before {
      align-items: center;
      background-color: #000;
      border-radius: 50%;
      color: #fff;
      content: counter(li);
      counter-increment: li;
      display: flex;
      font-size: var(--lumo-font-size-xxxl);
      font-weight: 800;
      height: $item-height;
      justify-content: center;
      left: 0;
      position: absolute;
      width: $item-height;
    }

    /* stylelint-disable-next-line selector-max-type */
    p {
      font-size: var(--lumo-font-size-xs);
      margin: 0;
    }

    /* stylelint-disable-next-line selector-no-qualifying-type */
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 0 calc($item-height * 0.5) 0 calc($item-height * 1.25);
    }

    /* stylelint-disable-next-line selector-no-qualifying-type */
    .title {
      font-weight: 800;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  @media (max-width: 400px) {
    $item-height: 64px;

    li {
      height: $item-height;

      &::before {
        height: $item-height;
        width: $item-height;
      }

      /* stylelint-disable-next-line selector-max-type */
      p {
        font-size: var(--lumo-font-size-xxs);
        line-height: 1em;
      }

      /* stylelint-disable-next-line selector-no-qualifying-type */
      .content {
        padding: 0 calc($item-height * 0.5) 0 calc($item-height * 1.25);
      }

      /* stylelint-disable-next-line selector-no-qualifying-type */
      .title {
        line-height: initial;
      }
    }
  }
}
/* stylelint-enable order/properties-order */

ul.courses-list {
  padding-left: 0;
  font-family: inherit;
  list-style: none;

  cxl-card {
    display: flex;
    align-items: center;
    padding: var(--lumo-space-m) var(--lumo-space-s);
    margin: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;

    .entry-byline {
      margin-bottom: 0;
    }

    .entry-header {
      margin-left: var(--lumo-space-l);
    }

    .entry-title {
      a {
        color: inherit;
      }
    }
  }

  li  {
    margin: 0;

    + li {
      border-top: 1px solid var(--lumo-contrast-10pct);
    }
  }

  .thumbnail {
    --cxl-thumbnail-size: calc(var(--lumo-icon-size-l) * 2);

    @media #{mq.$small} {
      --cxl-thumbnail-size: calc(var(--lumo-icon-size-l) * 3);
    }
  }

}

/**
  * Set button cursor to pointer, and add pending state.
  *
  * @see https://app.clickup.com/t/86azbhexr
  * @since 2024.02.20
  */
form.processing button, vaadin-button[pending] {
  cursor: pointer;

  &::before{
    background-color: var(--lumo-base-color) !important;
    opacity: unset !important;
  }

  &[theme~="primary"] {
    color: var(--lumo-primary-color);
    background-color: var(--lumo-primary-color);

    &::before {
      mask: var(--cxl-loading-spinner-url);
      mask-size: 24px;
      mask-repeat: no-repeat;
      mask-position: center;
    }
  }

  &[theme~="secondary"] {
    &::before {
      background-color: var(--lumo-base-color);
      background-image: var(--cxl-loading-spinner-url);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px;
      border: 1px solid var(--lumo-primary-color);
    }
  }
}

vaadin-context-menu-item[theme~="cxl-context-menu-section-header"] {
  pointer-events: none
}

/**
 * Increase font size
 * @see https://app.clickup.com/t/86b1dy579
 * @since 2024.08.12
 */
.archive-description,
.entry-content,
.entry-summary {
  font-size: var(--lumo-font-size-l);
}

vaadin-details {
  h4 {
    font-weight: 500;
  }

  .detail-content {
    font-size: var(--lumo-font-size-l);

    ul {
      margin: 0;
    }
  }
}

#search-form {
  display: flex;
  width: 100%;

  /* stylelint-disable-next-line selector-max-id */
  #search-input {
    flex: 1;
    padding: 0 var(--lumo-space-s);
    margin-right: var(--lumo-space-s);
    box-shadow: unset;
  }

  vaadin-button {
    margin: unset;
  }
}

cxl-app-layout[theme~="cxl-ui-neo-brutal"] {
  h1.entry-title {
    font-weight: 900;
  }

  input {
    border: 2px solid var(--cxl-brand-color-black);
    border-radius: var(--lumo-border-radius-l);
    box-shadow: 3px 4px 0 var(--lumo-contrast) !important;
    font-size: var(--lumo-font-size-l);
  }

  .entry-author {
    strong { font-size: var(--lumo-font-size-xxl); font-weight: 900; }
    .thumbnail { border: 3px solid var(--cxl-brand-color-black); }
  }

  .search-submit {
    font-size: var(--lumo-font-size-l);
    min-width: 60px;
    padding: var(--lumo-space-m) 0;
    border-radius: var(--lumo-border-radius-m);

    vaadin-icon {
      background: var(--cxl-brand-color-white);
      border-radius: 50%;
      color: var(--lumo-primary-color);
      height: 20px;
      vertical-align: text-bottom;
      width: 20px;
    }
  }

  [slot="action-bar"] {
    background-color: var(--cxl-b2b-redesign-beige);
  }
}
