/* stylelint-disable */
.loading-container {
  position: relative;

  &:not([isPending]) {
    .loading-overlay {
      display: none;
    }
  }

  .loading-overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    inset: 0;
  }

  .loading-spinner {
    content: var(--cxl-loading-spinner-url);
  }
}

/* Built-in spinner tweaks. */
.gform_wrapper {
  img.gform_ajax_spinner {
    z-index: 11;
    width: var(--lumo-icon-size-l) !important;
    height: var(--lumo-icon-size-l) !important;
    margin: 0;
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0.8));
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.8));
    animation: pulse 2s infinite alternate;
  }
}

/* Legacy code */
$padding-wrap: var(--lumo-font-size-m);

.gform_wrapper {
  label {
    .top_label & {
      display: block;
    }
  }

  textarea {
    width: 100%;
    max-height: 6em;
  }

  .gfield_checkbox {
    > li {
      display: flex;
      align-items: center;
    }
  }

  .gfield_description {
    font-size: var(--lumo-font-size-s);
  }

  .gfield_error {
    padding: var(--lumo-space-m);
    margin-top: var(--lumo-space-m) !important;
    margin-bottom: var(--lumo-space-m) !important;
    outline: solid 2px var(--lumo-error-color);
  }

  .gfield_required {
    display: none;
  }

  .gfield_visibility_hidden {
    display: none !important;
  }

  .gfield_visibility_visible.hidden_label > label {
    display: none;
  }

  .gform_ajax_spinner {
    position: absolute;
    top: 0;
    right: calc(0 - $padding-wrap);
    bottom: 0;
    margin: auto;
  }

  .gform_body {
    ul {
      /* @see `.cxl-section-block ul` */
      font-family: inherit;
      &.gform_fields {
        /* @see `.entry-content ul li` */
        &,
        & ul[class^="gfield"] {
          padding: 0;
          list-style: none;
          > li {
            padding-left: 0;
            margin: 0;
            &::before {
              content: unset;
            }
          }
        }
      }
    }
  }

  .gform_hidden {
    display: none;
  }

  .gform_validation_container {
    display: none;
  }

  .ginput_container {
    margin: var(--lumo-space-s) 0;
    &_number {
      .instruction {
        display: none;
      }
    }
  }

  .error,
  .validation_message,
  .validation_error {
    font-weight: bold;
    color: var(--lumo-error-color);
  }

  .validation_message::after {
    content: "\2191";
  }
}
/* stylelint-enable */
