@use "~@conversionxl/cxl-lumo-styles/scss/mq";
@use "../mixins";

cxl-vaadin-accordion {
  /**
   * Theme "cxl-accordion-card".
   */
  &[theme~="cxl-accordion-card"] {
    cxl-course-card {
      max-width: calc(100vw - 2 * var(--cxl-wrap-padding));
    }

    vaadin-icon {
      --vaadin-icon-height: var(--lumo-icon-size-s);
      --vaadin-icon-width: var(--vaadin-icon-height);
    }

    p {
      font-family: inherit;
    }

    .entry {
      //mixin affects: .entry-header > label
      @include mixins.label-contrast("> .entry-header") {
        flex-basis: 100%;
        text-transform: uppercase;
      }
    }

    .entry-byline {
      display: flex; // vaadin-icon vs text alignment
      flex-basis: 100%;
      flex-wrap: wrap;
      margin: var(--lumo-space-s) 0;
      overflow: hidden;
      font-weight: 300;
      text-overflow: ellipsis;
      white-space: nowrap;

      // @see https://stackoverflow.com/questions/29732575/how-to-specify-line-breaks-in-a-multi-line-flexbox-layout
      hr {
        width: 100%;
        margin: 0;
        visibility: hidden;
      }
    }

    .entry-title {
      flex: 1;
      height: calc(var(--lumo-line-height-xs) * 4em);
      font-size: var(--lumo-font-size-xl);
      word-break: break-word;
    }

    cxl-accordion-card[opened] {
      .entry-title {
        overflow: visible;
      }
    }
  }

  /**
   * Theme "cxl-minidegree-track".
   */
  &[theme~="cxl-minidegree-track"] {
    cxl-vaadin-accordion[theme="cxl-minidegree-course"] {
      margin-top: var(--lumo-space-m);
    }

    .entry-title {
      @include mixins.entry-title-with-progress-icons();

      margin: 0;
    }

    .track > .entry-header > .entry-title {
      align-items: center;
      font-weight: 900;

      /* stylelint-disable-next-line selector-max-compound-selectors */
      > span {
        display: inline-block;
        width: var(--lumo-space-l);
        height: var(--lumo-space-l);
        padding: var(--lumo-space-s);
        margin-right: var(--lumo-space-s);
        font-size: 60%;
        line-height: var(--lumo-space-l);
        color: var(--lumo-tint);
        text-align: center;
        vertical-align: bottom;
        background-color: var(--lumo-primary-color);
        border-radius: var(--lumo-border-radius);
        aspect-ratio: 1;
      }
    }
  }

  /**
   * Theme "cxl-minidegree-course".
   */
  &[theme~="cxl-minidegree-course"] {
    p {
      font-family: inherit;
    }

    .entry-header {
      display: grid;
      grid-column-gap: var(--lumo-space-m);
      grid-template-columns: auto 1fr;
      margin-right: var(--lumo-space-m); // vs [part="toggle"]

      .entry-excerpt {
        grid-column-start: 1;
        grid-column-end: 3;

        @media #{mq.$small} {
          grid-column-start: 2;
        }

        p {
          margin-bottom: 0; // match .entry-title margin-top 0
        }
      }

      // Image, maybe linked.
      > :first-child {
        grid-row-start: 1;
        grid-row-end: 2;

        @media #{mq.$small} {
          grid-row-end: 3;
        }
      }
    }

    .entry-summary {
      @media #{mq.$small} {
        // @todo Eliminate magic number.
        margin-left: calc(var(--lumo-space-m) * 5.5);
      }
    }

    .thumbnail {
      --cxl-thumbnail-size: calc(var(--lumo-icon-size-l) * 2);
      background-color: var(--lumo-contrast-5pct);
    }
  }

  /**
   * Theme "cxl-accordion-playbook-card"
   */
  &[theme~="cxl-accordion-playbook-card"] {
    column-gap: calc(var(--lumo-space-m) * 2);
    column-rule: 1px solid var(--lumo-shade-10pct);
    column-width: calc(var(--cxl-content-max-width) / 2);

    vaadin-icon {
      --vaadin-icon-height: var(--lumo-icon-size-s);
      --vaadin-icon-width: var(--vaadin-icon-height);
    }

    p {
      font-family: inherit;
    }

    .entry {
      @include mixins.label-contrast("> .entry-header") {
        flex-basis: 100%;
      }
    }

    .entry-header {
      position: relative;
      height: calc(var(--lumo-size-xl) * 3.2); //230px;
      padding: 0;
      overflow-y: hidden;

      label {
        margin-bottom: var(--lumo-space-s);
      }
    }

    .entry-byline {
      display: flex; // vaadin-icon vs text alignment
      flex-basis: 100%;
      flex-direction: column;
      flex-wrap: wrap;
      margin: var(--lumo-space-s) 0;
      overflow: hidden;
      font-weight: 300;
      text-overflow: ellipsis;
      white-space: nowrap;

      // @see https://stackoverflow.com/questions/29732575/how-to-specify-line-breaks-in-a-multi-line-flexbox-layout
      hr {
        width: 100%;
        margin: 0;
        visibility: hidden;
      }
    }

    cxl-save-favorite {
      position: absolute;
      top: 0;
      right: 0;
    }

    h2 {
      @include mixins.ellipsis-for-lines(3);
    }

    .plural {
      .entry-title {
        margin: 0;
      }
    }

    .entry-title {
      flex: 1;
      flex-basis: auto;
      /* stylelint-disable-next-line declaration-no-important */
      height: calc(var(--lumo-line-height-xs) * 3em) !important;
      margin-top: 0;
      margin-bottom: 0;
      overflow: hidden;
      font-size: var(--lumo-font-size-xl);
      word-break: break-word;

      a {
        color: inherit;
      }
    }

    .entry-summary,
    .entry-content {
      padding: 0;
      font-size: var(--lumo-font-size-xs);
      word-wrap: normal;
    }

    &[theme~="dark"] {
      .entry-summary,
      .entry-content {
        color: var(--lumo-contrast-50pct);
      }
    }

    label {
      .entry-summary {
        width: 85%;
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;

      > a {
        display: block;
        padding: 0 var(--lumo-space-s);
        margin: var(--lumo-space-xs) calc(var(--lumo-space-xs) * 2) var(--lumo-space-xs) 0;
        background: var(--lumo-contrast-10pct);
        border-radius: 10px;
      }

      > a:hover {
        cursor: pointer;
      }
    }
  }

  /**
   * Theme "cxl-dashboard-category"
   */
  &[theme~="cxl-dashboard-category"] {
    padding-bottom: var(--lumo-space-xl);

    .header {
      display: flex;
      align-items: baseline;
      padding: var(--lumo-space-l) var(--lumo-space-m);

      @media #{mq.$small} {
        padding: var(--lumo-space-l);
      }

      .entry-title {
        margin: 0;
      }

      > span {
        margin: 0 0 0 var(--lumo-space-m);
        font-size: var(--lumo-font-size-xs);
        font-weight: 600;
        color: var(--lumo-primary-color);
        text-transform: uppercase;
      }
    }

    .summary {
      padding: 0 var(--lumo-space-m) var(--lumo-space-l);

      @media #{mq.$small} {
        padding: 0 var(--lumo-space-l);
      }
    }

    .header-2 {
      display: flex;
      align-items: center;
      padding: var(--lumo-space-s) 0;

      a {
        margin-left: auto;
      }

      vaadin-progress-bar {
        width: 100px;
        margin-left: var(--lumo-space-m);
      }
    }

    .title-2,
    .title-3,
    .title-4 {
      margin: 0;
    }

    .title-2 {
      font-size: var(--lumo-font-size-m);
    }

    .title-3 {
      padding: var(--lumo-space-s) 0;
      font-size: var(--lumo-font-size-xs);
      font-weight: 600;
    }

    .title-4 {
      padding: var(--lumo-space-s) 0;
      font-size: var(--lumo-font-size-xs);
      font-weight: 400;
      color: var(--cxl-color-black-50pct);
    }

    cxl-tabs-slider {
      padding: var(--lumo-space-s) 0;
    }

    .section-2:not(.has-cards):not(:first-of-type) {
      padding-top: var(--lumo-space-m);
      margin-top: var(--lumo-space-m);
      border-top: 1px solid var(--cxl-color-light-gray);
    }

    .section-2.has-cards:not(:last-of-type),
    .section-3:not(:last-of-type) {
      padding-bottom: var(--lumo-space-m);
      margin-bottom: var(--lumo-space-m);
      border-bottom: solid 1px var(--cxl-color-light-gray);
    }

    .section-2.has-cards > .section-3:not(.section-3 ~ .section-3),
    .section-3.has-cards .section-4:first-of-type {
      padding-top: var(--lumo-space-m);
      margin-top: var(--lumo-space-m);
      border-top: solid 1px var(--cxl-color-light-gray);
    }

    @media #{mq.$medium} {
      .section-4 {
        padding-left: var(--lumo-space-xl);
      }
    }
  }
}
