/* stylelint-disable selector-no-qualifying-type */
@use "~@conversionxl/cxl-lumo-styles/scss/mq";

cxl-section#view-hero, cxl-section[theme~="cxl-header"] {
  .column-1 {
    @media #{mq.$large} {
      max-width: 40%;
    }
  }

  &.wide-background-black,
  &.wide-background-red,
  &.wide-background-blue,
  &.wide-background-green {

    .column-2 * {
      color: var(--lumo-tint);
    }
  }

  &.wide-background-light-blue {
    .column-2 * {
      color: var(--lumo-shade);
    }
  }

}
