@use "../mixins";

cxl-accordion-card {
  cxl-save-favorite {
    position: absolute;
    top: 0;
    right: 0;
  }

  h2 {
    @include mixins.ellipsis-for-lines(3);
  }

  .plural {
    .entry-title {
      margin: 0;
    }
  }

  .entry-title {
    flex-basis: auto;
    /* stylelint-disable-next-line declaration-no-important */
    height: calc(var(--lumo-line-height-xs) * 3em) !important;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    font-size: var(--lumo-font-size-xl);
    word-break: break-word;

    a {
      color: inherit;
    }
  }

  .entry-summary,
  .entry-content {
    padding: 0;
    font-size: var(--lumo-font-size-xs);
    word-wrap: normal;
  }

  &[theme~="dark"] {
    .entry-summary,
    .entry-content {
      color: var(--lumo-contrast-50pct);
    }
  }

  label {
    .entry-summary {
      width: 85%;
    }
  }

  .entry-byline {
    display: flex;
    flex-direction: column;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;

    > a {
      display: block;
      padding: 0 var(--lumo-space-s);
      margin: var(--lumo-space-xs) calc(var(--lumo-space-xs) * 2) var(--lumo-space-xs) 0;
      background: var(--lumo-contrast-10pct);
      border-radius: 10px;
    }

    > a:hover {
      cursor: pointer;
    }
  }
}
