cxl-marketing-nav {
  #menu-primary-items .menu-item {
    color: var(--lumo-tint);
  }

  &:not([wide]) {
    [icon="lumo:dropdown"] {
      margin-left: auto;
    }
  }
}

/**
 * PARTIALLY CORRECT
 * Apparently our element styles get hoisted also into `vaadin-overlay` shadow parts.
 * There is no other way to select slotted children protected by parent element's shadow.
 * Browser compatibility problems: Firefox 70 (works, style tag copied) vs Chrome (style tag missing)
 *
 * @see https://stackoverflow.com/questions/48101046/force-flex-item-to-span-full-row-width
 * @see https://github.com/vaadin/vaadin-overlay/issues/75
 * @see https://github.com/vaadin/vaadin-overlay/pull/76
 * @see https://polymer.slack.com/archives/C6ULJ2F7S/p1574015970159300
 * @todo Document `vaadin-context-menu` differences for `items` vs `<template>` API. Styling is very different.
 */
vaadin-context-menu-item[theme~="cxl-marketing-nav"] {
  // We only need to exclude this one specific thing.
  /* stylelint-disable-next-line selector-no-qualifying-type */
  &.menu-item-search {
    background-color: unset;

    /* stylelint-disable-next-line selector-no-qualifying-type */
    &[focus-ring] {
      box-shadow: none;
    }

    // @see https://app.clickup.com/t/3v0u4ua
    &::part(checkmark) {
      display: none;
    }
  }

  .search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    // Cross-device compatibility, match `vaadin-button`.
    > * {
      margin: var(--lumo-space-xs);
    }

    input[type="search"] {
      // Match `vaadin-button`.
      --lumo-button-size: var(--lumo-size-m);
      flex: 1;
      height: var(--lumo-button-size);
      font-size: var(--lumo-font-size-m);
    }

    label {
      flex-basis: 100%;
    }

    // Avoid flex-wrap.
    .search-submit {
      margin-left: auto;
    }
  }
}

.vaadin-context-menu-item--description {
  margin-top: var(--lumo-space-s);
  font-family: var(--lumo-font-family);
  font-size: var(--lumo-font-size-s);
  color: var(--lumo-secondary-text-color);
}

// Restricts menu item description width to max of parent width.
vaadin-context-menu-list-box {
  --cxl-vaadin-context-menu-item-max-width: fit-content;
}

/**
 * Why arbitrary media query?
 * @see https://github.com/vaadin/web-components/issues/83
 * @see https://github.com/vaadin/component-mixins/issues/36#issuecomment-576582648
 * @see https://github.com/vaadin/web-components/blob/68d93ffbe63f7d7370123ae23a2febfb175f1de7/packages/vaadin-lumo-styles/mixins/menu-overlay.js#L47
 */
@media (min-width: 420px) and (min-height: 420px) {
  .vaadin-context-menu-item--description {
    max-width: var(--cxl-vaadin-context-menu-item-max-width);
  }
}

/**
 * Mobile view `vaadin-context-menu-item` sub menu back button.
 *
 * @since 2022.11.10
 * @see https://app.clickup.com/t/3rgnekt
 */
/* stylelint-disable-next-line selector-no-qualifying-type */
.context-menu-item-back-button {
  min-width: auto;
  height: calc(var(--lumo-button-size) / 2);
  padding: 0;
  margin: 0;
  line-height: 1;
  background-color: transparent;
}

.context-menu-item-back-button vaadin-icon {
  margin-left: calc(var(--lumo-icon-size-m) / 4 * -1);
}

@media (min-width: 420px) and (min-height: 420px) {
  .back-button-menu-item {
    display: none;
  }
}
