cxl-card {
  p {
    font-family: inherit;
  }

  .entry-header {
    .thumbnail {
      margin: 0 auto;
      border: solid var(--lumo-border-radius) var(--lumo-base-color);
    }

    .entry-title {
      margin: 0;
    }

    .entry-byline {
      font-size: var(--lumo-font-size-s);
      font-weight: 300;
    }
  }

  &[theme~="cxl-testimonial"] {
    .thumbnail {
      display: block;
    }
  }

  &[theme~="cxl-explore-courses"] {
    margin: 0;

    & + & {
      margin-top: 2px;
    }

    &:hover {
      .entry-title {
        text-decoration: underline;
      }
    }

    .entry-link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .thumbnail {
      margin: 0 16px 0 0;
    }

    .entry-header {
      display: flex;
      align-items: center;
    }

    .entry-content {
      display: flex;
      flex-direction: column;
      color: var(--lumo-secondary-text-color);

      span {
        display: block;
      }
    }

    .entry-icon {
      margin-top: -2px;
      color: var(--lumo-secondary-text-color);
    }
  }
}
