@use "~@conversionxl/cxl-lumo-styles/scss/mixins" as cxl-lumo-styles-mixins;
@use "../mixins";

cxl-app-layout {
  $iframe-height: 200px;

  iframe {
    width: 100%;
    height: $iframe-height;
    border: 0;
  }

  /**
   * Entry.
   */
  > .entry {
    @include mixins.label-contrast("> .entry-header");

    .entry-media {
      margin: var(--cxl-wrap-padding) calc(var(--cxl-wrap-padding) * -1); // Full screen width, while padded.
      background-color: var(--lumo-shade);
    }
  }

  /**
   * Widget.
   */
  > .widget {
    @include mixins.label-contrast();

    .widget-title {
      margin-top: 0;
      font-weight: 300;
    }

    &_sensei_course_progress {
      a {
        color: inherit;
      }

      .entry-title {
        @include mixins.entry-title-with-progress-icons();

        font-size: var(--lumo-font-size-m);
        font-weight: 300;
      }

      .course-progress-navigation {
        display: flex;
        margin-top: var(--cxl-wrap-padding);

        > * {
          flex-basis: 50%;
        }

        :first-child {
          margin-right: var(--lumo-space-s);

          /* stylelint-disable-next-line selector-max-compound-selectors */
          + :last-child {
            margin-left: var(--lumo-space-s);
          }
        }
      }

      .current-menu-item {
        .entry-title {
          font-weight: 700;
          text-decoration: underline;
        }
      }
    }
  }

  &[layout^="2c"][wide] {
    iframe {
      height: $iframe-height * 2;
    }

    > .entry {
      .entry-content,
      .entry-footer {
        max-width: var(--cxl-content-max-width);
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  &[wide] {
    --cxl-lumo-space-xxl: calc(var(--lumo-space-xl) + var(--lumo-space-l));
    --cxl-section-wrap-margin-bottom: var(--cxl-lumo-space-xxl);
    --cxl-section-wrap-margin-top: var(--cxl-lumo-space-xxl);
    --cxl-wrap-padding: var(--lumo-space-xl);
  }

  /**
   * Action bar.
   */
  [slot="action-bar"] {
    > * {
      margin-left: var(--lumo-space-xs);

      &:first-child {
        margin-left: 0;
      }
    }

    > div:not(.pure-hidden-sm .pure-hidden-xs),
    > vaadin-button {
      flex: 1;
    }

    > div:not(.pure-hidden-sm .pure-hidden-xs) {
      text-align: center;
    }
  }

  &[wide] [slot="action-bar"] {
    > div:not(.pure-hidden-sm .pure-hidden-xs),
    > vaadin-button {
      flex: initial;
    }
  }

  /**
   * Dashboard layout.
   */
  &[theme~="cxl-dashboard"]:not([layout="1c"]) {
    overflow-x: hidden;

    h1 {
      margin-block: calc(2 * var(--lumo-space-xl));

      ::before {
        width: 33%;
        content: "";
        border-bottom: var(--lumo-space-xs) solid var(--lumo-primary-color);
      }
    }
  }
}
