:host([theme~="custom"]) [part="checkbox"] {
  width: var(--lumo-size-xs);
  height: var(--lumo-size-xs);
  border: 2px solid;
}
:host([theme~="custom"]) [part="label"] {
  display: none;
}
[part="checkbox"]::after {
  margin-top: calc(var(--lumo-size-xs) * 0.125);
  margin-left: calc(var(--lumo-size-xs) * 0.135);
}
